include includes/header.pug


div.container
  div.row.my-4
    div.col-md-6.offset-md-3
      form(action="/pages/new-book", method="post" enctype="multipart/form-data") 
        .mb-3.text-center
          p.fs-2 Book Create
          <p style="color: red;">#{errorMessage}</p> 
        .mb-3
          input.form-control(type="text" placeholder="Author" name="author" id="author" required)
        .mb-3
          textarea.form-control(placeholder="Description" name="description" id="description" required)
        .mb-3
          input.form-control(type="file" name="photo" required)
        .d-grid.gap-2
          button.btn.btn-primary(type="submit") Submit
        .my-4.text-center
          a(href="/pages/books") To books