include includes/header.pug

div.container
  div.row.my-4
    div.col-md-6.offset-md-3
      form(action="/pages/create", method="post") 
        .mb-3.text-center
          p.fs-2 Sign Up
          <p style="color: red;">#{errorMessage}</p> 
        .mb-3
          input.form-control(type="email" placeholder="Email" name="email" id="email" required)
        .mb-3
          input.form-control(type="password" placeholder="Password" name="password" id="password" required)
        .mb-3
          input.form-control(type="password" placeholder="Repeat password" name="password2" id="password2")
        .d-grid.gap-2
          button.btn.btn-primary(type="submit") Submit
        .my-4.text-center
          a(href="/pages/sign-in") Sign In

<!--  HTML -->
//- <div class="container">
//-   <div class="row my-4">
//-     <div class="col-md-6 offset-md-3">
//-       <div class="mb-3 text-center">
//-         <p class="fs-2">Sign Up</p>
//-       </div>
//-       <div class="mb-3">
//-         <input type="email" class="form-control" placeholder="Email" name="email" id="email">
//-       </div>
//-       <div class="mb-3">
//-         <input type="password" class="form-control" placeholder="Password" name="password1" id="password1">
//-       </div>
//-       <div class="mb-3">
//-         <input type="password" class="form-control" placeholder="Repeat password" name="password2" id="password2">
//-       </div>
//-       <div class="d-grid gap-2">
//-         <button class="btn btn-primary" type="button">Button</button>
//-       </div>
//-       <div class="my-4 text-center">
//-         <a href="/pages/sign-in">Sign In</a> 
//-       </div>

//-     </div>
//-   </div>
//- </div>